@font-face {
    font-family: "Hobo";
    src: url("../resources/fonts/HoboBT.otf") format("opentype");
    
}

.fonte-morcegao {
    -fx-font-family: "Hobo";
}

.botao{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-border-radius: 25px;
    -fx-cursor: hand;
}

