@font-face {
    font-family: "Hobo";
    src: url("../resources/fonts/HoboBT.otf") format("opentype");
    
}

.fonte-morcegao {
    -fx-font-family: "Hobo";
}

.botao{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
    -fx-cursor: hand;
   
}

.text-field:focused{
    -fx-border-color: #000000; 
    -fx-border-width: 2px;   
    
}   

.botao-cadastro-funcionario:focused{
    -fx-border-color: #f68e1f; 
    -fx-border-width: 2px;  
}

.botao-login:focused{
    -fx-border-color: #000000; 
    -fx-border-width: 2px;    
}

.botao:focused {
    -fx-border-color: #000000; 
    -fx-border-width: 2px;   
    -fx-border-radius: 20px;  
}
